# IDE files
.idea/
.vscode/

# Mac
.DS_Store

/node_modules

# Front
frontend/node_modules

# db_GPS
backend/GeoLite2

# Cache
backend/__pycache__/
backend/db/__pycache__/
backend/app/__pycache__/
backend/app/resources/__pycache__/
backend/app/resources/loginPage/__pycache__/
backend/app/resources/Profile/__pycache__/
backend/app/resources/Users/__pycache__/
backend/app/resources/Common/__pycache__/
backend/app/resources/Chat/__pycache__/