# IDE files
.idea/
.vscode/

# Mac
.DS_Store

# Front
frontend/node_modules

# Env vars
.env

# db_GPS
backend/GeoLite

# Cache
backend/__pycache__/
backend/db/__pycache__/
backend/app/__pycache__/
backend/app/resources/__pycache__/
backend/app/resources/loginPage/__pycache__/