html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root {
  height: 100%;
}
.App {
  height: 100%;
}

.main-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 160px;
}
.userpage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.userpage-avatar-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userpage-avatar {
  max-width: 300px;
  max-height: 450px;
}

.userpage-information-container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userpage-avatar-container-button {
  width: 300px;
  margin-top: 20px;
}

.userpage-information-section {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}


.ModalWindowBackground {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.66);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-top: 28px;
}

.ModalWindowWhiteDiv {
  width: 740px;
  height: 842px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #e4e4e4;
  background-color: #ffffff;
  display: flex;
  z-index: 8;
  flex-direction: column;
}

.DivTitleAndCloseInModalWindow {
  display: flex;
  justify-content: space-between;
  padding: 23px 16px 15px;
}

.TextTitleInModalWindow {
  font-family: SFProTextSemibold;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #000000;
}

.CloseButtonInModalWindow {
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  overflow: hidden;
}

.ImgCloseButtonInModalWindow {
  max-width: 100%;
  height: auto;
}

.profile-form-edit {
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
}
.LabelForDataAboutUser {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

